<div class="list-group concertgroup">
  <a
    *ngFor="let concert of list"
    class="list-group-item list-group-item-action flex-column align-items-start tableConcert"
  >
    <div class="d-flex w-100 justify-content-between column1">
      <h5 class="mb-1">{{ concert.concertName }}</h5>
    </div>
  </a>
</div>
