<button class="btn1" routerLink="artists">Artist</button>
<button class="btn2" routerLink="songs">Song</button>
<button class="btn3" routerLink="concerts">Concert</button>
<router-outlet></router-outlet>
