.title {
  text-align: center;
}

.btn1,
.btn2,
.btn3 {
  background-color: grey;
  font-size: 25px;
  padding: 12px 28px;
  margin: 5px 5px;
  border: 2px solid black;
  width: 32%;
  font-weight: bold;
}
