<div class="list-group artistgroup">
  <a
    *ngFor="let artist of list"
    class="list-group-item list-group-item-action flex-column align-items-start tableArtist"
  >
    <div class="d-flex w-100 justify-content-between column1">
      <h5 class="mb-1">{{ artist.fullName }}</h5>
    </div>
  </a>
</div>
