<div class="list-group songgroup">
  <a
    *ngFor="let song of list"
    class="list-group-item list-group-item-action flex-column align-items-start tableSong"
  >
    <div class="d-flex w-100 justify-content-between column1">
      <h5 class="mb-1">{{ song.title }}</h5>
    </div>
  </a>
</div>
