<button routerLink="artist-create" class="btn-artist">CREATE</button>
<button routerLink="artist-readAll" class="btn-artist">READ</button>
<button routerLink="artist-update" class="btn-artist">UPDATE</button>
<button routerLink="artist-delete" class="btn-artist">DELETE</button>
<router-outlet></router-outlet>
