<button routerLink="song-create" class="btn-song">CREATE</button>
<button routerLink="song-readAll" class="btn-song">READ</button>
<button routerLink="song-update" class="btn-song">UPDATE</button>
<button routerLink="song-delete" class="btn-song">DELETE</button>
<router-outlet></router-outlet>
