.song-create-container {
  padding: 20px;
}

.song-create-form {
  padding: 20px;
  border: 2px solid black;
  background-color: darkred;
}

.button-submit {
  width: 25%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  color: black;
}
