<div class="container song-create-container">
  <div class="row">
    <div class="col-md-6 song-create-form">
      <form>
        <div class="form-group">
          <label for="inputSongTitle" class="sr-only">Title</label>
          <input
            name="title"
            [(ngModel)]="song.title"
            type="title"
            id="inputSongTitle"
            class="form-control"
            placeholder="Title *"
            required
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="inputSongArtist" class="sr-only">Artist</label>
          <input
            name="artist"
            [(ngModel)]="song.artist"
            type="artist"
            id="inputSongArtist"
            class="form-control"
            placeholder="Artist *"
            required
            autofocus
          />
        </div>

        <button class="button-submit" (click)="addSong()" type="button">Create</button>
      </form>
    </div>
  </div>
</div>
