<div class="container artist-create-container">
  <div class="row">
    <div class="col-md-6 artist-create-form">
      <form>
        <div class="form-group">
          <label for="inputArtistFullName" class="sr-only">Fullname</label>
          <input
            name="fullname"
            [(ngModel)]="artist.fullName"
            type="fullname"
            id="inputArtistFullName"
            class="form-control"
            placeholder="Fullname *"
            required
            autofocus
          />
        </div>

        <button class="button-submit" (click)="addArtist()" type="button">Create</button>
      </form>
    </div>
  </div>
</div>
