.text {
  text-align: center;
}

.btn-concert {
  background-color: lightgrey;
  font-size: 25px;
  padding: 12px 28px;
  margin: 5px 5px;
  border: 2px solid black;
  width: 24%;
  font-weight: bold;
}
