<div class="container register-container">
  <div class="row">
    <div class="col-md-6 register-form">
      <h3>Welcome to FindYourMusic!</h3>
      <h3>(Register)</h3>

      <form>
        <div class="form-group">
          <label for="inputFirstName" class="sr-only">firstName</label>
          <input
            name="firstName"
            [(ngModel)]="user.firstName"
            type="firstName"
            id="inputFirstName"
            class="form-control"
            placeholder="First name *"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="inputLastName" class="sr-only">LastName</label>
          <input
            name="lastName"
            [(ngModel)]="user.lastName"
            type="lastName"
            id="inputLastName"
            class="form-control"
            placeholder="Last name *"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputEmailAddress" class="sr-only">Emailaddress</label>
          <input
            name="emailAddress"
            [(ngModel)]="user.emailAddress"
            type="emailAddress"
            id="inputEmailAddress"
            class="form-control"
            placeholder="Email address *"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputMobileNumber" class="sr-only">MobileNumber</label>
          <input
            name="mobileNumber"
            [(ngModel)]="user.mobileNumber"
            type="mobileNumber"
            id="inputMobileNumber"
            class="form-control"
            placeholder="Mobile number *"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            name="password"
            [(ngModel)]="user.password"
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password *"
            required
          />
        </div>

        <button class="button-submit" (click)="validateRegister()" type="button">Register</button>
      </form>

      <a class="a-register" routerLink="/login">If you already have a account, sign in here!</a>
    </div>
  </div>
</div>
