<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3>Welcome to FindYourMusic!</h3>
      <h3>(Login)</h3>
      <form>
        <div class="form-group">
          <label for="inputEmailaddress" class="sr-only">Emailaddress</label>
          <input
            name="emailAddress"
            [(ngModel)]="user.emailAddress"
            type="emailAddress"
            id="inputEmailaddress"
            class="form-control"
            placeholder="EmailAddress *"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            name="password"
            [(ngModel)]="user.password"
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password *"
            required
          />
        </div>

        <button class="button-submit" (click)="validateLogin()" type="button">Login</button>
      </form>

      <a class="a-login" routerLink="/register">If You don't have a account, sign up here!</a>
    </div>
  </div>
</div>
