.login-form {
  margin: auto;
  padding: 5%;
  background: black;
}

.login-form h3 {
  text-align: center;
  color: white;
}

.login-container form {
  padding: 5%;
}

.button-submit {
  width: 25%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form .button-submit {
  font-weight: 600;
  color: black;
  background-color: white;
}

.login-form .a-login {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.login-form .a-register {
  color: white;
}
