<div class="container concert-create-container">
  <div class="row">
    <div class="col-md-6 concert-create-form">
      <form>
        <div class="form-group">
          <label for="inputConcertconcertName" class="sr-only">Concertname</label>
          <input
            name="concertName"
            [(ngModel)]="concert.concertName"
            type="concertName"
            id="inputConcertconcertName"
            class="form-control"
            placeholder="Concertname *"
            required
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="inputConcertplace" class="sr-only">Place</label>
          <input
            name="place"
            [(ngModel)]="concert.place"
            type="place"
            id="inputConcertplace"
            class="form-control"
            placeholder="Place *"
            required
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="inputConcertDate" class="sr-only">Date</label>
          <input
            name="date"
            [(ngModel)]="concert.date"
            type="date"
            id="inputConcertDate"
            class="form-control"
            placeholder="Date *"
            required
            autofocus
          />
        </div>

        <button class="button-submit" (click)="addConcert()" type="button">Create</button>
      </form>
    </div>
  </div>
</div>
